.App {
    width: 100%;
    padding-top: 20px;
}

.resume {
    max-width: 8.5in;
    margin: 0px auto;
    box-shadow: 5px 5px 20px darkgray;
}

@media print {
    .App {
        padding: 0px;
        margin: 0px;
    }
    
    .resume {
        padding: 0px;
        margin: 0px;
        box-shadow: none;
    }
}